.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 60px;
  align-items: center;
  justify-content: center;
}

.photo {
  position: relative;
  display: block;
}

.photo img {
  display:block;
  width:100%;
  height:auto;
  border-radius:6px
}

//.photo img[data-zoomable]:hover {
//  transition:transform 60ms linear;
//  transform:scale(1.01);
//  box-shadow:0 6px 12px rgba(0,0,0,.14)
//}
