---
layout: default
medium_zoom: true
hide_header: true
---

<div class="row">
    <div class="column">
        <h1 style="margin-bottom: 0.15em;">About</h1>
        {{ content }}
    </div>
    <div class="column">
        <!--        <figure class="photo" style="height: 100%;">-->
        <!--            <img-->
        <!--                    data-zoomable-->
        <!--                    loading="lazy"-->
        <!--                    src="{{ site.baseurl }}{{ page.photo }}"/>-->
        <!--            <figcaption>-->
        <!--                <a href="https://www.instagram.com/chappiehd_ttv/">Not me, but my photo.</a>-->
        <!--            </figcaption>-->
        <!--        </figure>-->
    </div>
</div>

{{ page.bottom_content }}
