---
layout: base
---

{% include header.html %}
<div class="body-container">
    {% if page.hide_header or layout.hide_header %}
    {% else %}
    {% if page.title %}
    {% if page.date %}
    {% if page._link %}
    <h1>
        <a href="{{ page._link }}">
            {{ page.title }}
        </a>
    </h1>
    {% else %}
    <h1>{{ page.title }}</h1>
    {% endif %}
    {% else %}
    <h1>{{ page.title }}</h1>
    {% endif %}
    {% endif %}
    {% endif %}

    {% if page.date %}
    <p>
        <i>
            <a href="{{ page.url }}">
                <time datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%SZ' }}">
                    {{- page.date | date: '%Y-%m-%d %H:%M %Z' -}}
                </time>
            </a>
            {%- for tag in page.tags -%}
            {{- " " -}}{{- tag -}}
            {%- endfor -%}
        </i>
        {% endif %}
    <article>
        {{ content }}
    </article>
    <p>
        {% if page.custom_js %}
        {% for file in page.custom_js %}
        <script type="text/javascript" src="{{ site.baseurl }}/assets/js/{{ file }}"></script>
        {% endfor %}
        {% endif %}
        {% if layout.medium_zoom %}
        <script crossorigin="anonymous" integrity="sha256-EdPgYcPk/IIrw7FYeuJQexva49pVRZNmt3LculEr7zM="
                src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.6/dist/medium-zoom.min.js"></script>
        <script type="text/javascript">
            mediumZoom("[data-zoomable]", {background: "#0e0e0e"})
        </script>
        {% endif %}
    </p>
</div>

<hr>

<p style="text-align: center;">
    <a href="/feed.xml">Atom</a> |
    <span id="commit-id" class="build-revision"><a
            href="{{ site.github.repository_url }}/commit/{{ site.github.build_revision | default: site.env.GITHUB_SHA }}">
        #{{ site.github.build_revision | truncate: 7, "" }}
    </a></span>
</p>
